<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/templates/cards/cards.css" type="text/css">
    <style>
        renderframe {
            background: {{theme.secondaryCardColour}};
        }

        table.grid {
            background: {{theme.primaryCardColour}};
        }

        table.grid tr.middle {
            background-image: url('{{background}}');
        }
    </style>
</head>

<body>
    <renderframe>
        <box class="{{#if boss}}boss{{/if}}">
            <table class="grid">
                <tr class="top">
                    <td colspan="4">
                        <label class="title">{{title}}</label>
                    </td>
                </tr>
                <tr class="middle">
                    <td colspan="4">
                        <label class="instructions">{{#each instructions}}<p>{{this}}</p>{{/each}}</label>
                    </td>
                </tr>
                <tr class="bottom">
                    <td class="key">
                        <label>HP</label>
                    </td>
                    <td class="value">
                        <label class="health">{{health}}</label>
                    </td>
                    <td class="key">
                        <label>MOV</label>
                    </td>
                    <td class="value">
                        <label class="movement">{{movement}}</label>
                    </td>
                </tr>
                <tr class="bottom">
                    <td class="key">
                        <label>ATK</label>
                    </td>
                    <td class="value">
                        <label class="attack">{{attack}}</label>
                    </td>
                    <td class="key">
                        <label>RES</label>
                    </td>
                    <td class="value">
                        <label class="resistance">{{resistance}}</label>
                    </td>
                </tr>
                <tr class="bottom">
                    <td colspan="2" class="tag">
                        <label class="secondaryTag">{{secondaryTag}}</label>
                    </td>
                    <td colspan="2" class="tag bossInverted">
                        <label class="primaryTag">{{primaryTag}}</label>
                    </td>
                </tr>
            </table>
        </box>
    </renderframe>
</body>

</html>
