body {
  font-family: "Droid Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header {
  text-align: center;
}

.navigation.header {
    background: #DDD;
    width: 100%;
    padding: 10px 0;
}

.navigation > heading {
    display: block;
    font-size: 120%;
    font-weight: bold;
}

.navigation .button {
    margin-bottom: 0.5rem;
}

section {
    margin-bottom: 1.0em;
}