<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/sc9.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

  <style>
    .palette.box {
      color: white;
      padding: 15px;
      text-align: center;
    }

    .sheet.image > img {
      width: 100%;
      height: auto;
    }

    td > p {
      margin: 0 0 0.2em 0;
    }
  </style>
</head>

<body>

  <section class="navigation container header">
    <heading>{{navigation.title}}</heading>
    {{#each navigation.primary}}
      <a class="button button-primary" href="{{href}}">{{text}}</a>
    {{/each}}
  </section>

  <div class="container" style="margin-top: 5%">
    <h1>{{title}}</h1>
    {{#each sheets}}
      <section class="sheet">
        <h2>{{data.name}}</h2>
        <table width="100%">
          {{#if data.print-count}}
            <tr>
              <td>Print Count:</td>
              <td style="text-align: right;">x{{data.print-count}} pages</td>
            </tr>
          {{/if}}
          </tbody>
        </table>
        <span class="sheet image">
          <img src="images/sheets/{{data.asset-id}}.png" />
        </span>
      </section>
    {{/each}}
  </div>

</body>

</html>