<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/templates/cards/cards.css" type="text/css">
    <style>
        renderframe {
            width: {{dimension.width}};
            height: {{dimension.height}};
            background: url('{{background}}') no-repeat;
            background-position: -{{dimension.x}} -{{dimension.y}};
        }
    </style>
</head>

<body>
<renderframe>
</renderframe>
</body>

</html>
